<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                     http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
                     http://www.springframework.org/schema/tx   
                     http://www.springframework.org/schema/tx/spring-tx.xsd   
                     http://www.springframework.org/schema/context     
                     http://www.springframework.org/schema/context/spring-context-2.5.xsd   
                     http://www.springframework.org/schema/aop   
                     http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:annotation-config />
    
    <!-- 配置Hibernate  数据源-->
    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
              destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://127.0.0.1/whwr?useUnicode=true&amp;characterEncoding=UTF-8"/>
        <property name="username" value="root" />
        <property name="password" value="" />
        <property name="defaultCatalog" value="whwr"/>

        <!-- 连接池启动时的初始值 -->
        <property name="initialSize" value="3" />
        <!-- 连接池的最大值 -->
        <property name="maxActive" value="500" />
        <!-- 最大空闲值.当经过一个高峰时间后，连接池可以慢慢将已经用不到的连接慢慢释放一部分，一直减少到maxIdle为止 -->
        <property name="maxIdle" value="30" />
        <!--  最小空闲值.当空闲的连接数少于阀值时，连接池就会预申请去一些连接，以免洪峰来时来不及申请 -->
        <property name="minIdle" value="5" />
    </bean>


    <!-- 配置Hibernate SeesionFactory -->
    <bean id="sessionFactory"
              class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="mappingResources">
            <list>
                <value>com/whwr/domain/A01.hbm.xml</value>
                <value>com/whwr/domain/BuMen.hbm.xml</value>
                <value>com/whwr/domain/KeHu.hbm.xml</value>
                <value>com/whwr/domain/GongYingShang.hbm.xml</value>
                <value>com/whwr/domain/ZiDianLeiBie.hbm.xml</value>
                <value>com/whwr/domain/QiYeZiDian.hbm.xml</value>
                
                <value>com/whwr/domain/ck/WuZiLeiBie.hbm.xml</value>
                <value>com/whwr/domain/ck/WuZiZiDian.hbm.xml</value>
                <value>com/whwr/domain/ck/WuZiXhgg.hbm.xml</value>
                
                <value>com/whwr/domain/ck/CangKu.hbm.xml</value>
                <value>com/whwr/domain/ck/CkA01.hbm.xml</value>
                <value>com/whwr/domain/ck/CkKw.hbm.xml</value>
                
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>


    <!-- 配置事务管理器 -->
    <bean id="txManager"
              class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    <bean id="baseTxProxy" lazy-init="true"
              class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
        <property name="transactionManager" ref="txManager" />
        <property name="transactionAttributes">
            <props>
                <prop key="insert*">PROPAGATION_REQUIRED</prop>
                <prop key="zj*">PROPAGATION_REQUIRED</prop>
                <prop key="xg*">PROPAGATION_REQUIRED</prop>
                <prop key="update*">PROPAGATION_REQUIRED</prop>
                <prop key="save*">PROPAGATION_REQUIRED</prop>
                <prop key="add*">PROPAGATION_REQUIRED</prop>
                <prop key="remove*">PROPAGATION_REQUIRED</prop>
                <prop key="delete*">PROPAGATION_REQUIRED</prop>
                <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="find*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="load*">PROPAGATION_REQUIRED,readOnly</prop>
                <prop key="change*">PROPAGATION_REQUIRED</prop>
                <prop key="excute*">PROPAGATION_REQUIRED</prop>
                <prop key="*">PROPAGATION_REQUIRED,readOnly</prop>
            </props>
        </property>
    </bean>
    <tx:annotation-driven proxy-target-class="true"
                              transaction-manager="txManager" />
    <tx:advice id="txAdvice" transaction-manager="txManager">
        <tx:attributes>
            <tx:method name="insert*" propagation="REQUIRED" />
            <tx:method name="update*" propagation="REQUIRED" />
            <tx:method name="save*" propagation="REQUIRED" />
            <tx:method name="add*" propagation="REQUIRED" />
            <tx:method name="remove*" propagation="REQUIRED" />
            <tx:method name="delete*" propagation="REQUIRED" />
            <tx:method name="get*" propagation="REQUIRED" read-only="true" />
            <tx:method name="find*" propagation="REQUIRED" read-only="true" />
            <tx:method name="load*" propagation="REQUIRED" read-only="true" />
            <tx:method name="change*" propagation="REQUIRED" />
            <tx:method name="excute*" propagation="REQUIRED" />
            <tx:method name="*" propagation="REQUIRED" read-only="true" />
            <!--<tx:method name="*" propagation="true" />
            <tx:method name="*" propagation="REQUIRED" read-only="true" /> -->
        </tx:attributes>

    </tx:advice>

    <aop:config proxy-target-class="true">
        <aop:pointcut id="allManagerMethod"
                              expression="execution(* com.whwr.service.*.*(..))" />
        <aop:advisor advice-ref="txAdvice" pointcut-ref="allManagerMethod" />
    </aop:config>

    <!-- 配置其他beans-->

    <bean id="a01ServiceImpl" class="com.whwr.service.impl.A01ServiceImpl">
    </bean>
    <bean id="commServiceImpl" class="com.whwr.service.impl.CommServiceImpl">
    </bean>
    <bean id="app" class="com.whwr.util.ApplicationUtil">
    </bean>
 	
</beans>